
<li data-type="button" data-key="heatmap">
    <a onClick="changeHeatMapStatus()" class="grouped-middle" data-l10n-id="heatmap" title="Heatmap">
        <span class="buttonicon buttonicon-history"></span>
    </a>
</li>