<li data-type="button" data-key="heatmap">
    <a class="grouped-middle" data-l10n-id="heatmap" title="Heatmap">
      Flame
      <!--span class="buttonicon buttonicon-history"></span-->
    </a>
</li>