<li style='display:list-inline;'>
	<span id="autoscrolldown_span">
    	<button id="buttonicon-autoscrolldown" class="buttonicon" onClick='scrollDown()' type="button" title="Défiler jusqu'en bas" >
    		Défil.&nbsp;<b>&darr;</b>
    	</button>
    	<input type="checkbox" onChange="changeAutoScrollDown()" id="autoscrolldown_checkbox" title="Activer/désactiver le défilement automatique"  />
	</span>
</li>